body{
    background-color: silver;
    font-size: 20px;
}

h1{
   text-align: center; 
   font-size: 35px;
   font-family: 'Times New Roman', Times, serif;
}




.napelem{
    width: 500px;
    height: 250px;
    margin: 50px;
    
    
}
.napelem_reszei{

    width: 500px;
    height: 250px;
    margin: 50px;
    
}
