body{
    background-color: silver;
}

h1{
   text-align: center; 
}




.napelem{
    width: 500px;
    height: 250px;
    margin: 50px;
    
    
}
.napelem_reszei{
    width: 500px;
    height: 250px;
    margin: 50px;
    
}